In [186]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read in data
realdata = pd.read_csv("admissionNew.csv")
idealdata = pd.read_csv("idealAdmission.csv")

In [187]:
data = realdata

In [188]:
# Look at categorical column values
print(data["Sex"].value_counts()/len(data))
print()

print(data["Race"].value_counts()/len(data))

Female    0.389
Male      0.310
Other     0.301
Name: Sex, dtype: float64

Asian               0.188
Black               0.176
American Indian     0.169
Other               0.165
Pacific Islander    0.158
White               0.144
Name: Race, dtype: float64

In [189]:
# Look at non-categorical columns
data.describe()

,Intrinsic Abilities,Income,Opportunities,Academic Qualification,Non-Academic Qualification,Diversity,SAT,GPA,Number of APs,Mean AP Score,Extracurriculars,Letters of Rec,Essay
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,0.499881,90799.987000,0.569516,0.512055,0.494100,0.571400,1167.625000,3.235250,4.941000,3.23480,0.588200,0.588200,0.605096
std,0.010266,37582.224805,0.181244,0.121123,0.118698,0.219705,148.372837,0.296746,1.186983,0.28037,0.237397,0.237397,0.216405
min,0.463000,25292.000000,0.154000,0.300000,0.300000,0.100000,925.000000,2.750000,3.000000,2.80000,0.200000,0.200000,0.200000
25%,0.493000,57715.750000,0.482000,0.400000,0.400000,0.500000,1050.000000,3.000000,4.000000,3.00000,0.400000,0.400000,0.466000
50%,0.500000,101073.000000,0.574000,0.535000,0.500000,0.500000,1175.000000,3.250000,5.000000,3.20000,0.600000,0.600000,0.600000
75%,0.507000,125840.500000,0.710000,0.600000,0.600000,0.700000,1300.000000,3.500000,6.000000,3.50000,0.800000,0.800000,0.800000
max,0.532000,149974.000000,0.846000,0.635000,0.600000,0.900000,1300.000000,3.500000,6.000000,3.50000,0.800000,0.800000,0.800000

In [190]:
# Look at admission details
print(data["Admission"].value_counts()/len(data))

Yes    0.649
No     0.351
Name: Admission, dtype: float64

In [191]:
# Group by Sex to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Sex").describe()["Essay"]

        count      mean       std    min    25%    50%  75%  max
Sex
Female  389.0  0.639219  0.190343  0.266  0.466  0.800  0.8  0.8
Male    310.0  0.412897  0.180595  0.200  0.266  0.266  0.6  0.6
Other   301.0  0.758944  0.109851  0.466  0.800  0.800  0.8  0.8

In [192]:
# Group by Race to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Race").describe()["Essay"]

                  count      mean       std    min    25%    50%    75%    max
Race
American Indian   169.0  0.738462  0.092582  0.600  0.600  0.800  0.800  0.800
Asian             188.0  0.531585  0.205855  0.266  0.266  0.600  0.800  0.800
Black             176.0  0.744318  0.089899  0.600  0.600  0.800  0.800  0.800
Other             165.0  0.743030  0.090543  0.600  0.600  0.800  0.800  0.800
Pacific Islander  158.0  0.537646  0.217874  0.266  0.266  0.600  0.800  0.800
White             144.0  0.290347  0.107471  0.200  0.200  0.266  0.466  0.466

In [193]:
# Percentage Breakdown
breakdown = data.groupby(["Race","Admission"]).size()
breakdown.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

Race              Admission
American Indian   No           13.017751
                  Yes          86.982249
Asian             No           46.808511
                  Yes          53.191489
Black             No            9.659091
                  Yes          90.340909
Other             No           16.363636
                  Yes          83.636364
Pacific Islander  No           47.468354
                  Yes          52.531646
White             No           84.722222
                  Yes          15.277778
dtype: float64

In [195]:
# Group by Admission to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Admission").describe()["Income"]

,count,mean,std,min,25%,50%,75%,max
Admission,,,,,,,,
No,351.0,65861.381766,32130.211735,25292.0,44379.5,57960.0,71281.0,148806.0
Yes,649.0,104287.583975,33178.498355,26700.0,69405.0,112740.0,131364.0,149974.0