In [161]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read in data
realdata = pd.read_csv("admissionNew.csv")
idealdata = pd.read_csv("idealAdmission.csv")

In [162]:
data = realdata

In [163]:
# Look at categorical column values
print(data["Sex"].value_counts()/len(data))
print()

print(data["Race"].value_counts()/len(data))

Other     0.3356
Male      0.3338
Female    0.3306
Name: Sex, dtype: float64

Black               0.1730
Asian               0.1712
White               0.1702
American Indian     0.1670
Pacific Islander    0.1636
Other               0.1550
Name: Race, dtype: float64

In [164]:
# Look at non-categorical columns
data.describe()

,Intrinsic Abilities,Income,Opportunities,Academic Qualification,Non-Academic Qualification,Diversity,SAT,GPA,Number of APs,Mean AP Score,Extracurriculars,Letters of Rec,Essay
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,0.494774,102276.693200,0.536761,0.544201,0.533322,0.546530,1139.551800,3.180298,4.716400,3.181160,0.53799,0.539227,0.545482
std,0.273550,69375.307234,0.137459,0.089534,0.084046,0.184042,120.718028,0.201525,0.778262,0.207214,0.09399,0.093958,0.106319
min,0.000000,45.000000,0.103000,0.216000,0.246000,-0.181000,729.000000,2.390000,2.000000,0.500000,0.22400,0.225000,0.248000
25%,0.290750,50277.500000,0.442000,0.480000,0.475000,0.421000,1058.000000,3.050000,4.000000,3.000000,0.47200,0.472000,0.469000
50%,0.492000,87079.000000,0.543000,0.545000,0.534000,0.552000,1142.000000,3.190000,5.000000,3.200000,0.55400,0.554000,0.552000
75%,0.698000,140852.500000,0.635000,0.608000,0.592000,0.669000,1220.000000,3.320000,5.000000,3.300000,0.60700,0.609000,0.629000
max,1.000000,299793.000000,0.950000,0.848000,0.814000,1.162000,1600.000000,3.940000,7.000000,4.900000,0.89600,0.855000,0.861000

In [165]:
# Look at admission details
print(data["Admission"].value_counts()/len(data))

Yes    0.5792
No     0.4208
Name: Admission, dtype: float64

In [166]:
# Group by Sex to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Sex").describe()["Academic Qualification"]

         count      mean       std    min      25%    50%    75%    max
Sex
Female  1653.0  0.540911  0.089879  0.283  0.47600  0.541  0.605  0.817
Male    1669.0  0.538262  0.089593  0.234  0.47500  0.540  0.601  0.848
Other   1678.0  0.553348  0.088457  0.216  0.48925  0.555  0.619  0.823

In [167]:
# Group by Race to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Race").describe()["Academic Qualification"]

,count,mean,std,min,25%,50%,75%,max
Race,,,,,,,,
American Indian,835.0,0.568534,0.087570,0.234,0.5085,0.569,0.630,0.848
Asian,856.0,0.531537,0.086794,0.315,0.4670,0.533,0.597,0.778
Black,865.0,0.565040,0.083187,0.298,0.5050,0.566,0.624,0.799
Other,775.0,0.568106,0.084474,0.327,0.5120,0.568,0.625,0.823
Pacific Islander,818.0,0.533502,0.088068,0.289,0.4710,0.535,0.597,0.818
White,851.0,0.500394,0.085550,0.216,0.4395,0.498,0.560,0.757

In [168]:
# Percentage Breakdown
breakdown = data.groupby(["Race","Admission"]).size()
breakdown.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

Race              Admission
American Indian   No           32.934132
                  Yes          67.065868
Asian             No           46.612150
                  Yes          53.387850
Black             No           35.953757
                  Yes          64.046243
Other             No           32.903226
                  Yes          67.096774
Pacific Islander  No           45.721271
                  Yes          54.278729
White             No           57.579318
                  Yes          42.420682
dtype: float64

In [169]:
# Group by Admission to look at noncategorical summary
pd.options.display.max_columns = 4000
data.groupby("Admission").describe()["SAT"]

,count,mean,std,min,25%,50%,75%,max
Admission,,,,,,,,
No,2104.0,1108.346958,120.274679,729.0,1026.0,1108.0,1194.25,1463.0
Yes,2896.0,1162.222721,115.903646,791.0,1089.0,1162.0,1238.00,1600.0